body{
    
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.center_div{
    padding-top: 150px;
    padding-left: 300px;
    margin: 0 auto;
    width:200%;
}




#lose{
    width: 100%;
    height: 100%;  
}
#win{
    width: 100%;
    height: 100%;
}
#header{
    text-align: center;
}
#navbar ul{
    margin-left: 35%;
}
#content{
    background-color: rgb(124, 157, 161);
    height:655px;
}
#footer{
    background-color: rgb(241, 234, 234);
    padding-top: 20px;
}