{% extends "layout.html" %}

{% block title %} Home {% endblock %}


{% block header %}
<h1>Cs50 project ---- Welcome to my game</h1>
<h1>The game of the dice! </h1>
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/lanzarDado">Throw dice</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/anotar">Score points <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </nav>

{% endblock %}

{% block content %}
    <h1>You are: {{ nombre }} repeated dices:{{ repeated }} and your points: {{ puntajePartida }} </h1>
    

	<table>
            <tr>
                    {% if 1 in dados %}
                        <td> <img src="{{ url_for('static',filename='files/1.jpg')}}" width="315" height="315"></td>
                    {% endif%}
                    {% if 2 in dados %}
                        <td> <img src="{{ url_for('static',filename='files/2.jpg')}}" width="315" height="315"></td>
                    {% endif%}
                    {% if 3 in dados %}
                    <td> <img src="{{ url_for('static',filename='files/3.jpg')}}" width="315" height="315"></td>
                    {% endif%}
                    {% if 4 in dados %}
                        <td> <img src="{{ url_for('static',filename='files/4.jpg')}}" width="315" height="315"></td>
                    {% endif%}
                    {% if 5 in dados %}
                        <td> <img src="{{ url_for('static',filename='files/5.jpg')}}" width="315" height="315"></td>
                    {% endif%}
                    {% if 6 in dados %}
                        <td> <img src="{{ url_for('static',filename='files/6.jpg')}}" width="315" height="315"></td>
                    {% endif%}

            </tr>
    
    </table>

{% endblock %}