{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block header %}
<h1>Cs50 project ---- Welcome to my game</h1>
<h1>The game of the dice! </h1>
{% endblock %}

{% block navbar %}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/signUp">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="help">Help</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" href="score_table">Score table</a>
    </li>

</ul>
{% endblock %}


{% block content %}

{% endblock %}