{% extends "layout.html" %}

{% block title %}
    Bienvenido
{% endblock %}


{% block content %}
    <h1>Bienvenido  al sistema de registro de la unidad departamental de transito </h1>
    <p>Empezamos a trabajar hoy</p>
    <p>Agregamos otro parrafo</p>
    

    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="/signUp">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>

    </ul>
    




{% endblock %}