{% extends "layout.html" %}

{% block title %} Sign Up {% endblock %}

{% block header %}
<h1>Cs50 project ---- Welcome to my game</h1>
<h1>The game of the dice! </h1>
{% endblock %}

{% block navbar %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/signUp">Sign Up</a>
    </li>
        <li class="nav-item">
        <a class="nav-link" href="login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="help">Help</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="score_table">Score table</a>
    </li>
</ul>
{% endblock %}



{% block content %}







<div class="row">
    <div class="col-md-5">
        <div class="card card-body">
                <form action="/signUp" method="POST">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" name="nombre" placeholder="nombre">
                    </div>
                    <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" placeholder="password">
                    </div>
                    <div class="form-group">
                            <label>Password again</label>
                            <input type="password" name="password_again" placeholder="password">
                    </div>
                    <div class="form-group">
                            <label>Date</label>
                            <input type="date" name="fecha_nac" id="">
                    </div>
                    <div class="form-group">
                            <label>Acepta los terminos</label>
                            <input type="checkbox" name="checkbox">
                    </div>
                    <button type="submit" class="btn btn-primary"> Enviar </button>
                
                    
                </form>
        </div>
    </div>
</div>

{% endblock %}